@font-face {
  font-family: 'Algerian';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/algerian.ttf')
}

.Card {
  width: 120px;
  height: 180px;
  margin: 0 22px;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
  transition: width 750ms, height 750ms, left 750ms, top 750ms, transform 750ms, margin-left 750ms, margin-top 300ms;
  animation: fade-in 1.5s forwards;
}

.Card.ready:not(.active):hover {
  margin-top: 2vh;
}

.Card.active {
  margin: 0;
  width: 400px;
  height: 600px;
  top: calc(50vh - 300px) !important;
  left: calc(50vw - 200px) !important;
  cursor: auto;
  transform: rotateY(180deg);
}
.Card.position-fixed {
  position: absolute;
  z-index: 200;
}

.Card-placeholder {
  width: 120px;
  height: 180px;
  margin: 0 22px;
  border-width: 2px;
  visibility: hidden;
}

.Card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 750ms;
  transform-style: preserve-3d;
}
.Card.active .Card-inner {
  transform: rotateY(180deg);
}

.Card-front, .Card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 9% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.Card-front {
  transform: rotateY(0deg);
  z-index: 400;
}
.Card-back {
  transform: rotateY(180deg);
  z-index: 300;
}
.Card-back.text-black {
  color: black;
}
.Card-back.text-white {
  color: white;
}
.Card.active .Card-back div {
  transform: rotateY(180deg);
}

.Card-container:nth-child(2), .Card-container:nth-child(6) {
  animation: slide-down-8 1.5s forwards;
}
.Card-container:nth-child(3), .Card-container:nth-child(5) {
  animation: slide-down-16 1.5s forwards;
}
.Card-container:nth-child(4) {
  animation: slide-down-24 1.5s forwards;
}

.Card-id {
  font-size: 2em;
  font-family: Algerian, Arial, Helvetica, sans-serif;
  user-select: none;
}
.Card-title {
  font-size: 1.6em;
  transition: transform 750ms;
}
.Card-message {
  font-size: 1.2em;
  transition: transform 750ms;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down-8 {
  from {
    padding-top: 0;
  }
  to {
    padding-top: 8vh;
  }
}

@keyframes slide-down-16 {
  from {
    padding-top: 0;
  }
  to {
    padding-top: 16vh;
  }
}

@keyframes slide-down-24 {
  from {
    padding-top: 0;
  }
  to {
    padding-top: 24vh;
  }
}
