@font-face {
  font-family: 'Algerian';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/algerian.ttf')
}

.Card {
  width: 120px;
  height: 180px;
  margin: 0 1vw;
  border: solid 2px black;
  border-radius: 10px;
  cursor: pointer;
  transition: width 750ms, height 750ms, left 750ms, top 750ms, transform 750ms, margin-top 300ms;
}

.Card:not(.active):hover {
  margin-top: 2vh;
}
.Card.text-black {
  color: black;
}
.Card.text-white {
  color: white;
}

.Card.active {
  margin: 0;
  width: 400px;
  height: 600px;
  top: calc(50vh - 300px) !important;
  left: calc(50vw - 200px) !important;
  cursor: auto;
  transform: rotateY(180deg);
}
.Card.position-fixed {
  position: absolute;
  z-index: 200;
}

.Card-placeholder {
  width: 120px;
  height: 180px;
  margin: 0 1vw;
  border-width: 2px;
  visibility: hidden;
  transition: width 750ms, margin 750ms;
}
.Card-placeholder.hidden {
  width: 0;
  margin: 0;
}

.Card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 750ms;
  transform-style: preserve-3d;
}
.Card.active .Card-inner {
  transform: rotateY(180deg);
}

.Card-front, .Card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 9% 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.Card-front {
  transform: rotateY(0deg);
  z-index: 400;
}
.Card-back {
  transform: rotateY(180deg);
  z-index: 300;
}
.Card.active .Card-back div {
  transform: rotateY(180deg);
}

.Card-id {
  font-size: 2em;
  font-family: Algerian, Arial, Helvetica, sans-serif;
  user-select: none;
}
.Card-title {
  font-size: 1.6em;
  transition: transform 750ms;
}
.Card-message {
  font-size: 1.2em;
  transition: transform 750ms;
}
