.CardSet {
  width: 100vw;
  height: 100vh;
  padding: 3vh 5vw;
  display: flex;
  justify-content: center;
}

.CardSet-backdrop {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transition: opacity 750ms;
}
.CardSet-backdrop.active {
  opacity: 0.7;
  z-index: 100;
  cursor: pointer;
}
