@font-face {
  font-family: 'Algerian';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/algerian.ttf')
}

.Card {
  width: 120px;
  height: 180px;
  border: solid 2px black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Card-id {
  font-size: 2em;
  font-family: Algerian, Arial, Helvetica, sans-serif;
}
