.CardSet {
  width: 100vw;
  height: 100vh;
  padding: 3vh 5vw;
  display: flex;
  justify-content: center;
  z-index: 100;
  transition: background-color 750ms;
}

.CardSet.has-active-card {
  background-color: rgba(0, 0, 0, 0.5);
}
